@font-face {
  font-family: 'Neris';
  src: url('fonts/Neris-Thin.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'Neris';
  src: url('fonts/Neris-Light.otf') format('opentype');
  font-weight: 300;
}

:root {
  --bg-url: url("./BG2LOWRES.jpg");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{scrollbar-gutter: stable}

html,
body {
  height: 100%;
}

body {
  color: #9c9c9c;
  background: #000;
  font-family: 'Neris', sans-serif;
}

/* Fullscreen hero */
.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}


.bgLayer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100lvh;
  z-index: -1;
  pointer-events: none;
  background-image: var(--bg-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* Extra dark overlay for readability */
/*
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  mix-blend-mode: multiply;
}
*/
/* Make sure content sits above overlay */
.hero-inner,
.hero-nav {
  position: relative;
  z-index: 1;
}

/* Center name */
.site-name {
  letter-spacing: 0.35em;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.3rem;
}

/* Bottom navigation */
.hero-nav {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 7rem;
  font-size: 1.5rem;

}

.hero-nav a {
  color: #9c9c9c;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.25s ease;
}

.hero-nav a:hover {
  color: #c3ff4a;
}

/* Small screens */
@media (max-width: 900px) {

  .hero-nav {
    gap: 1.75rem;
    bottom: 15%;
    font-size: 1.0rem;
  }

  .site-name {
    letter-spacing: 0.25em;
    font-size: 1.7rem;
    padding-bottom: 5rem;
  }
}