  @font-face {
  font-family: 'Neris';
  src: url('../../fonts/Neris-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Neris';
  src: url('../../fonts/Neris-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Neris';
  src: url('../../fonts/Neris-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neris';
  src: url('../../fonts/Neris-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: #9c9c9c;
  background: #000;
  font-family: 'Neris', sans-serif;
}

/* Background wrapper */

.contact-wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  background-image: url("../../waves.jpg");
  background-size: cover;
  background-position: center;
}

.contact-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  mix-blend-mode: multiply;
}

.contact-left,
.item-details {
  position: relative;
  z-index: 1;
}
/*===== LEFT SIDE =====*/

.contact-left {
  width: 26%;
  min-width: 230px;
  padding: 2.5rem 2.5rem 2.8rem;
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 5rem;
}

.back-button {
  display: inline-flex;
  background: none;
  border: none;
  cursor: pointer;
  color: #9c9c9c;
  align-items: center;
  justify-content: center;
  font-family: 'Neris', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  text-decoration: none;
}

.back-button:hover {
  color: #b7c39d;
}

.contact-label {
  font-family: 'Neris', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 2rem;
  letter-spacing: 0.12em;
}

/*===== LIST =====*/

.items-menu {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.item-link {
  display: block;
  font-weight: 100;
  font-size: 1.4rem;
  color: #9c9c9c;
  text-decoration: none;
  transition: color 0.2s ease;
  letter-spacing: 0.07em;
}

.item-link:hover {
  color: #c3ff4a;
  ;
}

.item-link.is-active {
  color: #c3ff4a;
}

/* Responsive tweaks */

@media (max-width: 900px) {
  .works-wrapper {
    flex-direction: column;
  }

  .works-left {
    width: 100%;
    padding: 1.8rem 1.6rem 1.2rem;
  }

  .project-details {
    padding: 0 1.6rem 2rem;
  }

  .project-title-bar {
    padding: 1.2rem 0 1rem;
    margin-left: 0;
  }

  .project-main {
    padding: 1.5rem 0 0;
  }

  .slides-track img {
    border-width: 6px;
  }
}

@media (max-width: 600px) {
  .top-bar {
    margin-bottom: 1.6rem;
  }

  .works-label {
    font-size: 1.1rem;
  }

  .project-title {
    font-size: 1.3rem;
  }

  .project-text {
    font-size: 0.9rem;
  }
}